:root{
--white: hsl(0, 0%, 100%);
--stone100: hsl(30, 54%, 90%);
--stone150: hsl(30, 18%, 87%);
--stone600: hsl(30, 10%, 34%);
--stone900: hsl(24, 5%, 18%);
--brown800: hsl(14, 45%, 36%);
--rose800: hsl(332, 51%, 32%);
--rose50: hsl(330, 100%, 98%);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'youngserif';
    src: url('./assets/fonts/YoungSerif-Regular.ttf') format('truetype');
        font-style: normal;
}
@font-face {
    src: url('./assets/fonts/outfit/static/Outfit-Regular.ttf') format('truetype');
    font-family: 'outfit';        
    font-style: normal;
}
body {
    font-family: 'outfit', 'sans-serif';
    color: var(--stone600);
    line-height: 1.6;
}

img{
    max-width: 100%;
}
.text-wrapper{
    padding: 2rem;
}
h1{
    font-family: 'youngserif';
    font-size: 2rem;
    color: var(--stone900);
}
p {
    padding: 1.125rem 0;
    
}

h2{
    font-family: 'youngserif';
}
strong{
    font-weight: 700;
}
.preparation {
     padding: 1.125rem 2rem;
    background-color: var(--rose50);
    border-radius: 20px;
}
.preparation h2 {
    color: var(--rose800);
}
.preparation ul {
    list-style-position: inside;
}
.preparation ul li {
    padding: .75rem 0;
}

.preparation ul li::marker {
    color: var(--brown800);
}

.ingredients,
.instructions,
.nutrition {
    padding: 1.125rem 0;
}

.instructions,
.ingredients {
    border-bottom: 1px solid var(--stone150);
}
.ingredients h2 {
    color: var(--brown800);
}
.ingredients ul {
    list-style-position: inside;
}
.ingredients ul li {
    padding: .45rem 0;
}
.ingredients ul li::marker {
    color: var(--brown800);
}
.instructions h2 {
    color: var(--brown800);
}

.instructions ol {
    list-style-position: inside;
}
.instructions ol li {
    padding: .5rem;
}
.instructions ol li::marker {
    color: var(--brown800);
    font-weight: 700;
}

.nutrition h2 {
    color: var(--brown800);
}

.nutrition table {
    width: 100%;
    border-collapse: collapse;
}
.nutrition table tr td{
    border-bottom: 1px solid var(--stone150);
     padding: 1.125rem
}
.nutrition table tr td:nth-child(2) {
    color: var(--brown800);
    font-weight: 700;
   
}



@media screen and (min-width: 1440px){
    .wrapper{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--stone100);
        padding: 2rem;
    }
    main{
       width: 70%;
       max-width: 800px;
       border-radius: 20px;
       background-color: var(--white);
       padding: 2rem;
    }
    img{
        border-radius: 10px;
    }
    .txt{
    padding:0;
}
}