* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
:root {
    --purple-700: hsl(257, 40%, 49%);
    --Magenta-400: hsl(300, 69%, 71%);
}
@font-face {
    font-family: Poppins;
    src: url('./design/Poppins-Regular.ttf') format('truetype');
}
@font-face {
    font-family: Open-sans;
    src: url('./design/OpenSans-Regular.ttf') format('truetype');
}
body {
    background-color: var(--purple-700);
    background-image: url('./images/bg-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Open-sans;
}

.wrapper {
    width: 80%;
    max-width: 1100px;
    padding: 1rem;
}
main {
    text-align: center;
    margin: 2rem 0;
}

main img {
    width: 100%;
    display: block;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
}

.hero-details {
    margin-top: 2rem;
    width: 100%;
}
.hero-details h1 {
    margin: 1rem 0;
    font-family: Poppins, sans-serif;
    line-height: 1.2;
}
.hero-details p {
    margin-bottom: 2rem;
}
.hero-details a {
    text-decoration: none;
    background-color: var(--Magenta-400);
    padding: .75rem 2rem;
    border-radius: 40px;
    color: var(--purple-700);
}
.hero-details a:hover {
    background-color: var(--Magenta-400);
    cursor: pointer;
    color: white;
}
footer {
    margin-top: 2rem;
    text-align: center;
}
.social-links {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.social-links a {
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border: 1px solid white;
    padding: .25rem;
}

.social-links a:hover {
    cursor: pointer;
    color: white;
    border-color: var(--Magenta-400);
}
.social-links a img {
    width: 25px;
    filter: brightness(0) invert(1);
}
.attribution {
    color: var(--Magenta-400);
}
.social-links img:hover {
    filter: brightness(0) saturate(100%) invert(67%) sepia(40%) saturate(400%) hue-rotate(255deg) brightness(105%);
}
@media screen and (min-width: 60rem) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        text-align: left;
    }
    .social-links {
        justify-content: end;
    }
    
}