/* All rem value are calculated using the px/16*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
--White: hsl(0, 0%, 100%);
--slate300: hsl(212, 45%, 89%);
--slate500: hsl(216, 15%, 48%);
--slate900: hsl(218, 44%, 22%);
}
@font-face {
    font-family: outfit;
    src: url('/qr-code-component-main/fonts/static/Outfit-Regular.ttf') format('truetype');
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--slate300);
    min-height: 100vh;
}
body {
    font-family: outfit;
}
.card  {
    text-align: center;
    width: 80%;
    max-width: 20rem;
    padding: 1rem;
    background-color: var(--White);
    border-radius: 1rem;
}
.card-image {
    display: block;
    max-width: 100%;
    border-radius: 1rem;
}
.title {
    color: var(--slate900);
    line-height: 1.2;
    font-size: 1.375rem;
    font-weight: 700;
    margin: 1rem 0;
}
.details {
    color: var(--slate500);
    font-size: 0.9375rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
.attribution {
    margin-top: 1rem;
    text-align: center;
}
.attribution a:hover, 
.attribution a:visited {
    color: var(--slate900);
    cursor: pointer;

}

/* so it doesn't look weird on smaller screen 
though it highly unlikely to be viewed on a 
screen less than 450px in width*/
@media screen and (max-width: 28.125rem) {
    .card {
        width: 90%;
        max-width: 18.75rem;
        padding: .75rem;
    }
    .title {
        font-size: 1.125rem;
    }
    .details {
        font-size: .875rem;
    }
}