:root{
--w: hsl(0, 0%, 100%);
--s300: hsl(212, 45%, 89%);
--s500: hsl(216, 15%, 48%);
--s900: hsl(218, 44%, 22%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face{
  font-family: "Outfit";
  src: url('./fonts/static/Outfit-Regular.ttf') format('truetype');
  font-style: normal;
  
}
.wrapper{
  inline-size: 100%;
  block-size: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  background-color: var(--s300);
}
.card{
  background-color: var(--w);
  padding: 1rem;
  border-radius: 18px;
  inline-size: 80%;
  max-inline-size: 26rem;
}
img{
  display: block;
  inline-size: 100%;
  border-radius: 12px;
}
.txt{
  padding: .75rem;
  text-align: center;
}
h1{
  font-family: Outfit, Sans-Serif;
  margin-block-start: .75rem;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.2;
}
p{
  color: var(--s500);
  margin-block-start: 1rem;
  font-family: Outfit, Sans-Serif;
  font-size: 1.06rem;
  font-weight: 400;
}
footer{
  margin-block-start: 1.75rem;
}

@media screen and (min-width: 568px) {
  h1{
    font-size: 2.25rem;
  }
}